@model _315Singleton.Models.TodoIndexVm
@{
    ViewBag.Title = "Home Page";
}

<h2>@Model.Greeting</h2>
<div>
    @foreach (var t in Model.Tasks) 
    {
        <div>@Html.ActionLink("Edit", "Update","Todo", new {Id = @t.Id }) @t.Id, @t.Task, @t.IsCompleted</div>
    }
</div>